#search {
    font-weight: 200;
    font-family: helvetica;
    color: #555;
    padding: 0.2em;
    height: 2em;
    border-radius: 7px;
    border-width: 0px;
    background-color: rgb(200,200,201);
    box-sizing: border-box;
    float: left;
    font-size: 50px;
    width: 86%;
}

#search-button {
    display: inline-block;
    float: left;
    font-size: 100px;
    height: 1em;
    line-height: .85em;
    font-weight: 100;
    font-family: helvetica;
    padding-left: 2%;
    box-sizing: border-box;
    width: 8%;
    margin-left: 2%;
    cursor: pointer;
}
