#search {
    font-weight: 200;
    font-family: helvetica;
    color: #555;
    padding: 0.2em;
    height: 2em;
    border-radius: 7px;
    border-width: 0px;
    background-color: rgb(200,200,201);
    box-sizing: border-box;
    float: left;
    font-size: 50px;
    width: 86%;
}

#search-button {
    display: inline-block;
    float: left;
    font-size: 100px;
    height: 1em;
    line-height: .85em;
    font-weight: 100;
    font-family: helvetica;
    padding-left: 2%;
    box-sizing: border-box;
    width: 8%;
    margin-left: 2%;
    cursor: pointer;
}

/*
tile css
*/

* { margin: 0; padding: 0; }

#tiles {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;

}
#tiles img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #tiles {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #tiles {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #tiles {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #tiles {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}