#go {
    width: 80%;
    box-sizing: border-box;
    margin-top:25px;
    margin-left: 10%;
    border-width: 0;
    border-radius: 5px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    font-weight: 200;
    color: #eee;
    background-color: rgb(86,85,111);
    content: 'Go';
}

#go.loading {
    content: 'Loading';
    background-color: #847DF2;
}

#go.going {
    content: 'Culture';
    background-color: rgb(54, 43, 255);
    box-shadow: 0px 0px 10px rgb(56, 43, 255);
}
